.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CD533B;
    margin: 0;
}

.cocktail-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px 40px 40px;
}

.cocktail-card-img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    flex-wrap: wrap;
}

.cocktail-card-img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
}
.cocktail {
    background-color: #6CD4FF;
    border: .35rem solid #050401;
    border-radius: 30px;
    padding: 2rem;
    margin: 8rem 0 8rem 0;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cocktail p {
    width: 20rem;
}

#cocktail-name {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0;
    font-size: 3em;
    color:#F5F8DE;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.cocktail-info {
    text-align: center;
    width: 20rem;
    background-color: #F5F8DE;
    padding: 2rem;
    border: .25rem solid #050401;
    border-radius: 18px;
    margin-bottom: 2rem;
}

.cocktail-img-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20rem;
    border: .25rem solid #050401;
    border-radius: 18px;
    overflow: hidden;
}

.cocktail-img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
}

.ingredients {
    /* margin: 0;
    padding: 0;
    border: 0; */
    font-weight: bold;
}

.ingredient p {
    font-weight: bold;
}

.cocktail-description {
    font-style: italic;
}

.ingredient {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#spacer-left {
    width: 50%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#spacer-right {
    width: 20%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2rem;;
}